.main-banner {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("/images/3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main-banner__gradient {
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
    opacity: 0.6;
    width: 100%;
    height: 100%;
    transition-property: opacity;
    transition-duration: 3s;
    z-index: 1;
    background-attachment: fixed;
    display: none;
}

.main-banner-container {
    position: fixed;
}

body {
    background-image: url("/images/3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}