.menu {
    display: flex;
    flex-direction: row;
}

.menu__container {
    width: 80%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
}

.menu__column {
    flex-basis: 33%;
    flex-wrap: wrap;
}