.bookmark {
    position: relative;
    display: flex;
    height: 25vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-image: url("about-us.jpg");
    background-size: cover;
    background-position-y: center;
    top: 50px;
}

.bookmark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.bookmark--about-us {
    background-size: cover;
}

.bookmark__header {
    color: white;
    font-size: 66px;
    z-index: 1;
}

.bookmark__header::before {
    content: "-";
    font-size: 55px;
    font-weight: normal;
}

.bookmark__header::after {
    content: "-";
    font-size: 55px;
    font-weight: normal;
}