*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background: transparent;
}

@font-face {
    font-family: "Ostrich Sans";
    src: url("ostrich-sans.sans-rounded-medium.ttf");
}

@font-face {
    font-family: "Ming Liu";
    src: url("MINGLIU.ttf");
}