.main-navigation {
    display: flex;
    position: fixed;
    height: 90px;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    z-index: 2;
    border-bottom: 1px solid rgba(201, 136, 83, 0.7);
}

.main-navigation__container {
    align-items: center;
    width: 100%;
    padding: 15px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
}


/* LOGO PART */

.logo-first-part {
    font-family: "Ostrich Sans", sans-serif;
    font-size: 42px;
    letter-spacing: 1.3px;
    color: white;
}

.logo-second-part {
    font-family: "Ming Liu", serif;
    font-size: 15px;
    letter-spacing: 2.3px;
    color: rgb(201, 136, 83);
}

.logo-second-part::before {
    content: "";
    border-bottom: 1px solid rgb(201, 136, 83);
    display: inline-block;
    width: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.logo-second-part::after {
    content: "";
    border-bottom: 1px solid rgb(201, 136, 83);
    display: inline-block;
    width: 73px;
    margin-left: 20px;
    vertical-align: middle;
}

.main-navigation__logo-link {
    text-decoration: none;
}


/* END OF LOGO PART*/


/* MAIN NAVIGATION MENU BUTTONS*/

.main-navigation__menu-list {
    display: flex;
    list-style: none;
}

.main-navigation__menu-list-item {
    text-transform: uppercase;
    padding: 15px 25px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

.main-navigation__menu-list-item:hover {
    cursor: pointer;
    padding: 14px 24px;
    box-shadow: 0 0 2px white;
    border: 1px solid white;
}

.main-nabigation__menu-list-item-link {
    text-decoration: none;
    color: white;
}


/* END OF MAIN NAVIGATION MENU BUTTONS*/